@import "reset";

h1{
    display: block;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 15px;
    padding-left: 0;
}
.calender-title{
    display: flex;
    align-items: center;
    
    span{
        cursor: pointer;
        box-sizing: border-box;
    }
    span:not(.control){
        white-space: pre;
        display: inline-block;
        font-size: 24px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 0 10px 0 0;
    }
    .control-group{
        display: inline-block;
        padding-left: 30px;
        .control{
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            padding: 10px;
            margin: 0 5px 0 0;
            
    
            border-radius: 5px;
            border: 1px solid transparent;
            background-color: transparent;
            color:#000;

            transition: .3s;
        }
        .control:hover{
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #000;
            color:#fff
        }
    }
}
.calender-body{
    th{
        padding: 10px 20px;
        font-size: 20px;
        text-align: center;
    }
    .table td{
        box-sizing: border-box;
        cursor: pointer;

        .box{
            margin-right: auto;
            width: 100%;
            height: 0;
            padding-top: 60%;
            position: relative;
            .item{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: inline-flex;
                flex-direction: column;
                .desc-group{
                    overflow-y: auto;
                    flex-grow: 1;
                    span{
                        display: block;
                        padding: 2px 5px;
                        border-radius: 5px;
                        margin: 1px;
                        background-color: rgb(129, 129, 212);
                    }
                }
            }
        }
        span{
            display: block;
        }
        .other{
            color: #aaa;
            font-size: 14px;
        }
        .now{
            color: #000;
            font-size: 18px;
        }
        .holiday{
            color: rgb(241, 101, 101);
        }
        &.currentDate{
            background-color: rgba(115, 115, 218, 0.5);
            border: 2px solid #55f;
        }
        &:hover{
            background-color: #ccc;
        }
        &.currentDate:hover{
            background-color: rgba(75, 75, 207, 0.8);
            border: 2px solid #00f;            
        }
    }
}
.modal-dialog{
    .modal-header {
        #eventTitle{
            border: none;
        }
        #eventTitle:focus{
            outline: none;
        }
        .title{
            position: relative;
            flex-grow: 1;
        }
        .title::after{
            content: '';
            position: absolute;
            left: 50%;
            right: 50%;
            height: 2px;
            background-color: #22f;
            opacity: .3;
            bottom: -2px;
    
            transition: .5s;
        }
        .title:hover::after{
            content: '';
            left: 0;
            right: 0;
            opacity: 1;
        }
    }
    .modal-body{
        input{
            margin: 0 10px;
        }
        div{
            margin: 10px 0;
        }
    }
}

.notfitData{
    position: relative;
    content: '等等~不可以喔';
    color: red;
    font-size: 18px;
}