@import "reset";

h1{
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
img{
    // width: 100%;
    vertical-align: top;
}

%btn{
    padding: 5px 10px;
    transition: .2s;
    margin: 0 10px;
}
%btn_hover{
    background-color: #000;
    color: #fff;
}
.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding : 15px 0;
    .aliveBtn{
        @extend %btn;
        font-size: 24px;
    }   
    .aliveBtn:hover{
        @extend %btn_hover;
    }
    #start{
        display: block;
    }
}
.wrap{
    display: flex;
    justify-content: center;  
    margin-top: 10px;
    
 .source-controler{
        border-radius: 5px;
        border: 1px solid #aaa;
        display: flex;
        justify-content: center;
        padding: 5px;
        width: 100%;
        button{
            border: 1px solid #aaa;
        }
        button:hover{
            @extend %btn_hover;
        }
        .file-setting{
            display: flex;
            justify-content: flex-start;
            flex-grow: 1;
        }
        .game-setting{
            display: flex;
            justify-content: flex-start;
            // flex-grow: 1;
        }
        #game-difficulty{
            border-radius: 5px;
            border: 1px solid #aaa;
            padding: 5px 15px;
            margin: 0 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }   
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    .box{
        width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative;
        .item-group{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: #ccc;
            border: 1px solid #aaa;
            .frame{
                padding: 2px;
            }
            .item{
                width: 100%;
                height: 0;
                padding-top: 100%;
                position: relative; 
                .component{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 100;
                    overflow: hidden;
                    img{
                        // object-fit: fill;
                        // object-position: 0%;
                    }
                }
            }
        }
    }
}

.modal
{
    img{
        border: 1px solid #ccc;
    }
    .item{
        width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative; 
        .component{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            overflow: hidden;
        }
    }
}
#fileForm{
    display: none;
}

@media screen and (min-width: 768px){
    .game-area{
        .box{
            width: 80%;
            height: 0;
            padding-top: 80%;            
        }
    }
}
@media screen and (min-width: 992px){
    .game-area{
        .box{
            width: 100%;
            height: 0;
            padding-top: 100%;            
        }
    }
    .wrap{
        margin-top: 0px;
    }
}