/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

img {
  vertical-align: top;
}

.button-group .aliveBtn {
  padding: 5px 10px;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 0 10px;
}

.button-group .aliveBtn:hover, .wrap .source-controler button:hover {
  background-color: #000;
  color: #fff;
}

.answerArea {
  display: none;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 15px 0;
}

.button-group .aliveBtn {
  font-size: 24px;
}

.button-group #start {
  display: block;
}

.button-group .check-grroup {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.wrap .source-controler {
  border-radius: 5px;
  border: 1px solid #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  width: 100%;
}

.wrap .source-controler button {
  border: 1px solid #aaa;
}

.wrap .source-controler .file-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrap .source-controler .game-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrap .source-controler #game-difficulty {
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px 15px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.game-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-area .box {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}

.game-area .box .item-group {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ccc;
  border: 1px solid #aaa;
}

.game-area .box .item-group .frame {
  padding: 2px;
}

.game-area .box .item-group .item {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}

.game-area .box .item-group .item .component {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}

.game-area .box .item-group .item .hint {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(193, 193, 235, 0.5);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game-area .box .item-group .item .hint span {
  font-size: 80px;
}

.game-area .box .item-group .item .hint.blank {
  background-color: rgba(223, 90, 119, 0.5);
}

.modal img {
  border: 1px solid #ccc;
}

.modal .item {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
}

.modal .item .component {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}

#fileForm {
  display: none;
}

.input-group {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.input-group-prepend, .input-area {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.disabedArea {
  position: relative;
}

.disabedArea::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #aaa;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .game-area .box {
    width: 80%;
    height: 0;
    padding-top: 80%;
  }
}

@media screen and (min-width: 992px) {
  .game-area .box {
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
  .wrap {
    margin-top: 0px;
  }
  .answerArea {
    display: block;
  }
  .answerArea .item {
    border: 1px solid #aaa;
    margin: auto;
    width: 60%;
    height: 0;
    padding-top: 60%;
    position: relative;
  }
  .answerArea .item .component {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
  }
}
/*# sourceMappingURL=puzzle.css.map */